[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Families"]
	path = Families
	url = https://github.com/cran/Families
[submodule "VirtualPop"]
	path = VirtualPop
	url = https://github.com/willekens/virtualpop
